<% @title = 'Perfil' %>


<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption"><i class="icon-picture"></i>Edita tus datos</div>
    <div class="tools">
      <a class="collapse" href="javascript:;"></a>
      <a class="reload" href="javascript:;"></a>
    </div>
  </div>
  <div class="portlet-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
        <div class="form-body">
  <h3 class="form-section">Información Personal</h3>
          <div class="row">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="row">
                  <div class="col-md-12">
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  </div>
                </div>
            <% end %>

            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Usuario', class: 'control-label' %><span class="required">*</span>
                <%= f.text_field :username, class: 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label :email, class: 'control-label' %><span class="required">*</span><br>
                <%= f.email_field :email, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label 'Nombre', class: 'control-label' %><span class="required">*</span>
                <%= f.text_field :first_name, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label 'Apellido', class: 'control-label' %><span class="required">*</span><br>
                <%= f.text_field :last_name, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label "Identificación", class: 'control-label' %><span class="required">*</span><br>
                <%= f.text_field :identification, class: 'form-control' %>
                <span class="help-block">(SS, Cédula, Licencia Conducir)</span>
              </div>


              <div class="field form-group">
                <%= f.label 'País', class: 'control-label' %><span class="required">*</span><br>
                <%= f.country_select :country,{},{}, class: 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label 'Cuidad', class: 'control-label' %><br>
                <%= f.text_field :city, class: 'form-control' %>
              </div>

            </div><!-- col6 -->

            <div class="col-md-6">

              <div class="field form-group">
                <%= f.label 'Teléfono', class: 'control-label' %><br>
                <%= f.text_field :phone, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label 'Móvil', class: 'control-label' %><br>
                <%= f.text_field :mobile, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label 'Skype', class: 'control-label' %><br>
                <%= f.text_field :skype, class: 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label 'Estado / Provincia / Sector', class: 'control-label' %><br>
                <%= f.text_field :state, class: 'form-control' %>
              </div>

            </div><!-- col6 -->

          </div> <!-- .row -->


          <h3 class="form-section">Datos Financieros</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Nombre de Banco', class: 'control-label' %><span class="required">*</span><br>
                <%= f.text_field :account_type, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Número de Cuenta', class: 'control-label' %><span class="required">*</span><br>
                <%= f.text_field :number_account, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Paypal (Email)', class: 'control-label' %><br>
                <%= f.text_field :paypal, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>

          <h3 class="form-section">Cambiar Contraseña?</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
               <%= f.label 'Contraseña Actual', class: 'control-label', style: 'color:red' %><span class="required">*</span><br>
                <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
                <span class="help-block">(Debes insertar tu contraseña para realizar cambios)</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Contraseña', class: 'control-label' %><br>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                <span class="help-block">(Dejar en blanco si no deseas cambiarla)</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Confirmar Contraseña', class: 'control-label' %><br>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                <span class="help-block"> (Dejar en blanco si no deseas cambiarla)</span>
              </div>
            </div>
          </div>



          </div><!-- Fin de .form-body-->

          <div class="form-actions right">
            <%= f.submit 'Actualizar', class: 'btn blue'%>
          </div>
<% end %>



  </div>
</div>
