<% @title = 'Referir a un Amigo' %>

<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption"><i class="icon-picture"></i>Completa con tus datos</div>
    <div class="tools">
      <a class="collapse" href="javascript:;"></a>
      <a class="reload" href="javascript:;"></a>
    </div>
  </div>
  <div class="portlet-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
        <%= f.hidden_field :sponsor_id, :value => current_login.id %>

        <div class="form-body">
          <h3 class="form-section">Información Personal</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Usuario', class: 'control-label' %><span class="required">*</span>
                <%= f.text_field :username, class: 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label :email, class: 'control-label' %><span class="required">*</span><br>
                <%= f.email_field :email, class: 'form-control' %>
              </div>


                <div class="field form-group">
                  <%= f.label 'Nombre', class: 'control-label' %><span class="required">*</span>
                  <%= f.text_field :first_name, class: 'form-control' %>
                </div>


                <div class="field form-group">
                  <%= f.label 'Apellido', class: 'control-label' %><span class="required">*</span><br>
                  <%= f.text_field :last_name, class: 'form-control' %>
                </div>


                <div class="field form-group">
                  <%= f.label "Identificación", class: 'control-label' %><span class="required">*</span><br>
                  <%= f.text_field :identification, class: 'form-control' %>
                  <span class="help-block">Solo números (SS, Cédula, Licencia Conducir)</span>
                </div>


                <div class="field form-group">
                  <%= f.label 'País', class: 'control-label' %><span class="required">*</span><br>
                  <%= f.country_select :country,{},{}, class: 'form-control' %>
                </div>

                <div class="field form-group">
                  <%= f.label 'Cuidad', class: 'control-label' %><br>
                  <%= f.text_field :city, class: 'form-control' %>
                </div>

            </div><!-- col6 -->

            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Contraseña', class: 'control-label' %><span class="required">*</span><br>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                <span class="help-block">Mínimo 8 Caracteres</span>
              </div>
              <div class="field form-group">
                <%= f.label 'Confirmar Contraseña', class: 'control-label' %><span class="required">*</span><br>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div>

                <div class="field form-group">
                  <%= f.label 'Teléfono', class: 'control-label' %><br>
                  <%= f.text_field :phone, class: 'form-control' %>
                </div>


                <div class="field form-group">
                  <%= f.label 'Móvil', class: 'control-label' %><br>
                  <%= f.text_field :mobile, class: 'form-control' %>
                </div>


                <div class="field form-group">
                  <%= f.label 'Skype', class: 'control-label' %><br>
                  <%= f.text_field :skype, class: 'form-control' %>
                </div>

              <div class="field form-group">
                <%= f.label 'Estado / Provincia / Sector', class: 'control-label' %><br>
                <%= f.text_field :state, class: 'form-control' %>
              </div>

            </div><!-- col6 -->

            </div> <!-- row -->


          <h3 class="form-section">Datos Financieros</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Nombre de Banco', class: 'control-label' %><br>
                <%= f.text_field :account_type, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Número de Cuenta', class: 'control-label' %><br>
                <%= f.text_field :number_account, class: 'form-control' %>
                <span class="help-block">Solo números (Sin Guiones ni espacios)</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Paypal / OKPAY (Email)', class: 'control-label' %><br>
                <%= f.text_field :paypal, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>

          <h3 class="form-section">Selección de Aula</h3>
          <div class="row aulas-reg">

            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Aula Básica', class: 'control-label' %><br>
                <%= f.radio_button :level_id, 1, class: 'radio-aula' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Aula Superior', class: 'control-label' %><br>
                <%= f.radio_button :level_id, 2, class: 'radio-aula' %>
              </div>
            </div>
          </div>
        </div><!-- Fin de .form-body-->

        <div class="form-actions right">
          <%= f.submit 'Crear Referido', class: 'btn blue'%>
        </div>

<% end %>
  </div>
</div>

