<div class="form-body">
  <ul class="nav nav-pills nav-justified steps">
    <li>
      <a href="javascript:;" class="step">
        <span class="number">1</span>
        <span class="desc"><i class="icon-ok"></i> Pagar a Turno en Posición</span>
      </a>
    </li>
    <li class="active">
      <a href="#tab2" data-toggle="tab" class="step active">
        <span class="number">2</span>
        <span class="desc"><i class="icon-ok"></i> Validar Referido</span>
      </a>
    </li>
    <li>
      <a href="javascript:;" class="step">
        <span class="number">3</span>
        <span class="desc"><i class="icon-ok"></i> Solicitar Creación de Turno</span>
      </a>
    </li>
  </ul>
  <div id="bar" class="progress progress-striped" role="progressbar">
    <div class="progress-bar progress-bar-success" style="width: 60%;"></div>
  </div>
  <div class="tab-content">
        <div class="tab-pane active" id="tab2">
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <h3>Selecciona Tu Usuario Referido</h3>
              <p>Aquí se listarán los usuarios que hayas referido y que no haya sido usado para la creación de otro Turno. Podrás seleccionar uno de estos para continuar pero deben estar ACTIVOS.</p>
            </div>
            <div class="col-md-6">

              <div class="portlet box green">
                <div class="portlet-title">
                  <div class="caption"><i class="icon-picture"></i>Tus Referidos</div>
                  <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="reload" href="javascript:;"></a>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                      <% if @referrals.empty? %>
                          No tienes Usuarios Referidos sin uso. Refiere uno nuevo y haz que pague al Turno en posición ó activa uno de los actuales.
                          <%= link_to 'Referir Nuevo Ususario', new_login_registration_path %>
                      <% else %>
                      <thead>
                      <tr>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th colspan="1"></th>
                      </tr>
                      </thead>

                      <tbody>

                          <% @referrals.each do |user| %>
                          <% u = what_level(params[:level_id].to_i, user) %>
                              <tr>
                                <td><%= user.username %></td>
                                <% if u.status != 'inactive' || 'progress' %>
                                <td>Activo</td>
                                <td>
                                  <%= form_tag(controller: "logins", action: 'ref_selection') %>
                                  <%= hidden_field_tag :referred, user.id %>
                                  <%= hidden_field_tag :level_id, params[:level_id] %>
                                  <%= submit_tag 'Seleccionar', class: 'btn green' %>
                                </td>
                                <% else %>
                                    <td><%= u.status %></td>
                                <% end %>


                              </tr>
                          <% end %>
                      </tbody>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

  </div>
</div>