

<%= form_for(@admin_login, as: :admin_login, url: admin_login_path(@admin_login)) do |f| %>
  <% if @admin_login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_login.errors.count, "error") %> prohibited this admin_login from being saved:</h2>

      <ul>
      <% @admin_login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption"><i class="icon-picture"></i>Editar Datos</div>
        <div class="tools">
          <a class="collapse" href="javascript:;"></a>
          <a class="reload" href="javascript:;"></a>
        </div>
      </div>
      <div class="portlet-body">

        <div class="form-body">
          <h3 class="form-section">Información Personal</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Patrocinador', class: 'control-label' %><span class="required">*</span>
                <%= f.text_field :sponsor_id, class: 'form-control' %>
                <span class='help-block'><%= @sponsor if action_name == 'edit' %></span>
              </div>
              <div class="field form-group">
                <%= f.label 'Usuario', class: 'control-label' %><span class="required">*</span>
                <%= f.text_field :username, class: 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label :email, class: 'control-label' %><span class="required">*</span><br>
                <%= f.email_field :email, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label 'Nombre', class: 'control-label' %><span class="required">*</span>
                <%= f.text_field :first_name, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label 'Apellido', class: 'control-label' %><span class="required">*</span><br>
                <%= f.text_field :last_name, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label "Identificación", class: 'control-label' %><span class="required">*</span><br>
                <%= f.text_field :identification, class: 'form-control' %>
                <span class="help-block">(SS, Cédula, Licencia Conducir)</span>
              </div>


              <div class="field form-group">
                <%= f.label 'País', class: 'control-label' %><span class="required">*</span><br>
                <%= f.country_select :country,{},{}, class: 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label 'Cuidad', class: 'control-label' %><br>
                <%= f.text_field :city, class: 'form-control' %>
              </div>

            </div><!-- col6 -->

            <div class="col-md-6">

              <div class="field form-group">
                <%= f.label 'Teléfono', class: 'control-label' %><br>
                <%= f.text_field :phone, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label 'Móvil', class: 'control-label' %><br>
                <%= f.text_field :mobile, class: 'form-control' %>
              </div>


              <div class="field form-group">
                <%= f.label 'Skype', class: 'control-label' %><br>
                <%= f.text_field :skype, class: 'form-control' %>
              </div>

              <div class="field form-group">
                <%= f.label 'Estado / Provincia / Sector', class: 'control-label' %><br>
                <%= f.text_field :state, class: 'form-control' %>
              </div>

            </div><!-- col6 -->

          </div> <!-- row -->


          <h3 class="form-section">Datos Financieros</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Nombre de Banco', class: 'control-label' %><span class="required">*</span><br>
                <%= f.text_field :account_type, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Número de Cuenta', class: 'control-label' %><span class="required">*</span><br>
                <%= f.text_field :number_account, class: 'form-control' %>
                <span class="help-block">Solo números (Sin Guiones ni espacios)</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="field form-group">
                <%= f.label 'Paypal (Email)', class: 'control-label' %><br>
                <%= f.text_field :paypal, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>


        </div><!-- Fin de .form-body-->

        <div class="form-actions right">
          <%= f.submit 'Actualizar', class: 'btn blue'%>
        </div>

      </div>
    </div>


<% end # Fin de Form For %>







