<% @title = 'Usuarios' %>
<%= link_to 'Crear Usuario', new_login_registration_path, class: 'btn blue' %>
<p></p>
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption"><i class="icon-picture"></i>Usuarios</div>
    <div class="tools">
      <a class="collapse" href="javascript:;"></a>
      <a class="reload" href="javascript:;"></a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Patrocinador</th>
          <th>Aula</th>
          <th>Email</th>
          <th>País</th>
          <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <% @admin_logins.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.username %></td>
              <td><%= link_to "#{user.sponsor.username} (#{user.sponsor_id})", edit_admin_login_path(user.sponsor_id) %></td>
              <td><%= link_to user.room_id, room_path(user.room_id) if !user.room_id.nil? %></td>
              <td><%= link_to user.email, "mailto:#{user.email}" %></td>
              <td><%= user.country %></td>
              <td><%= link_to 'Ver/Editar', edit_admin_login_path(user), class: 'btn green btn-xs' %></td>

              <td><%= link_to 'Eliminar', admin_login_path(user), method: :delete, data: { confirm: 'Seguro?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




