<%= form_for(@admin_payment, as: :admin_payment, url: admin_payment_path(@admin_payment)) do |f| %>

        <% if @admin_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_payment.errors.count, "error") %> prohibited this admin_payment from being saved:</h2>

      <ul>
      <% @admin_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-body">
      <div class="row">
        <div class="col-md-6">
          <div class="field form-group">
            <%= f.label 'Usuario', class: 'control-label' %>
            <%= f.text_field :login_id, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= f.label 'Estado (Enviado: 1 / Pendiente: 0)', class: 'control-label' %>
            <%= f.text_field :status, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= f.label 'Cupon ID', class: 'control-label' %>
            <%= f.text_field :coupon_id, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field form-group">
            <%= f.label 'Comentario รณ Codigo Cupon:', class: 'control-label' %>
            <%= f.text_area :comment, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= f.label 'Forma de Pago', class: 'control-label' %>
            <%= f.text_field :gateway, class: 'form-control' %>
          </div>
        </div>


      </div>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn green' %>
    </div>
<% end %>
