<% @title = 'Pagos' %>

<%= link_to 'Crear Pago', new_admin_payment_path, class: 'btn blue' %>
<p></p>
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption"><i class="icon-picture"></i>Tus Transacciones</div>
    <div class="tools">
      <a class="collapse" href="javascript:;"></a>
      <a class="reload" href="javascript:;"></a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Aula</th>
          <th>Monto</th>
          <th>Estatus</th>
          <th>Forma de Pago</th>
          <th>Modificado</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @admin_payments.each do |p| %>
            <tr>
              <td><%= p.id %></td>
              <td><%= p.login.username %></td>
              <td>
                <%= p.level.name %>
              </td>
              <td><%= p.amount %></td>
              <td>
                <% if p.status == true %>
                    Enviado
                <% else %>
                    Pendiente
                <% end %>
              </td>
              <td><%= p.gateway %></td>
              <td><%= p.updated_at %></td>

              <td><small><%= p.comment %></small></td>
              <td><%= link_to 'Ver / Editar', edit_admin_payment_path(p), class: 'btn green btn-xs' %></td>
              <td><%= link_to 'Eliminar', admin_payment_path(p), method: :delete, data: { confirm: 'Seguro que desea borrarlo?' } %></td>
            </tr>
        <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>

