<h1>Crear Turno</h1>

<%= form_for(@turn, as: :turn, url: admin_turns_path(@turn)) do |f| %>
    <% if @turn.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

          <ul>
            <% @turn.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-body">
      <div class="row">
        <div class="col-md-6">
          <div class="field form-group">
            <%= f.label :login_id, class: 'control-label' %>
            <%= f.text_field :login_id, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field form-group">
            <%= f.label :level_id, class: 'control-label' %><br>
            <%= f.text_field :level_id, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field form-group">
            <%= f.label :status, class: 'control-label' %><br>
            <%= f.select(:status, [['waiting', 'waiting'], ['active', 'active'], ['confirmation', 'confirmation'], ['completed', 'completed']], {}, class: "form-control") %>
          </div>
        </div>

      </div>
    </div>



    <div class="actions">
      <%= f.submit class: 'btn green' %>
    </div>
<% end %>

<%= link_to 'Back', admin_turns_path %>
