<div class="col-md-12">
<div class="room <%= @room.level.name %>">
  <div class="row nivel1">
    <% [4,5,6,7].each do |t| %>
        <div class="cuadro <%= t.humanize %> inactive"><h4></h4></div>
    <% end %>
  </div>
  <div class="row nivel2">
    <% @room.logins.level_two.each do |t| %>
        <div class="cuadro <%= t.position.humanize %>" id="<%= t.id %>"><h4><%= t.username %></h4><small><%= t.country %></small></div>
    <% end %>
  </div>
  <div class="row nivel3">
    <% @room.logins.level_three.each do |t| %>
        <div class="cuadro one" id="<%= t.id %>"><h4><%= t.username %></h4><small><%= t.country %></small></div>
    <% end %>
  </div>

</div> <!-- ROOM Final -->
</div><!-- col-md-12 -->

<%== @videos.content if !@videos.nil? %>

<%= javascript_tag do %>
    //Modifying news users
    <% @room.logins.level_one.each do |t| %>
        $(".<%= t.position.humanize %>").removeClass( "inactive" );
        $(".<%= t.position.humanize %>").attr( 'id', "<%= t.id %>" );
        $(".<%= t.position.humanize %> > h4").html("<%= t.username %>");
        $(".<%= t.position.humanize %> > h4").after("<small><%= t.country %></small>");

        ///////
    <% end %>

    //Find and select the current login in a room
    $(".room").find("#<%= params[:login_id] %>").addClass("selected");
<% end %>
