<li class="tooltips" style="display:none;">
  <a href="javascript:;" >
    <i class="icon-gift"></i>
    <span class="title">Pasos para Turnos</span>
    <span class="arrow "></span>
  </a>
  <ul class="sub-menu">
    <li >
      <%= link_to turn_wizard_path(1) do %>
          <i class="icon-ok-sign"></i>
          Turno de $25
      <% end %>
    </li>
    <% if current_login.level_id > 1 %>
    <li >
      <%= link_to turn_wizard_path(2) do %>
          <i class="icon-ok-sign"></i>
          Turno de $75
      <% end %>
    </li>
    <% end %>
    <% if current_login.level_id > 2 %>
    <li >
      <%= link_to turn_wizard_path(3) do %>
          <i class="icon-ok-sign"></i>
          Turno de $125
      <% end %>
    </li>
    <% end %>
  </ul>
</li>
<li class="start">
  <%= link_to dashboard_path do %>
      <i class="icon-home"></i>
      <span class="title">Inicio</span>
  <% end %>
</li>
<li>
  <%= link_to patrocinador_path do %>
    <i class="icon-user"></i>
    <span class="title">Patrocinador</span>
  <% end %>
</li>
<li>
  <a href="javascript:;">
    <i class="icon-group"></i>
    <span class="title">Referidos</span>
    <span class="arrow "></span>
  </a>
  <ul class="sub-menu">
    <li >
      <%= link_to "Mis Referidos", mis_referidos_path %>
    </li>
    <li >
      <%= link_to "Nuevo Referido", new_login_registration_path %>
    </li>
  </ul>
</li>

<li class="" style="display: none;">
  <a href="javascript:;">
    <i class="icon-cogs"></i>
    <span class="title">Soporte</span>
    <span class="arrow "></span>
  </a>
</li>
<li class="">
  <%= link_to show_page_path('como-funciona') do %>
    <i class="icon-info-sign"></i>
    <span class="title">¿Cómo funciona?</span>
  <% end %>
</li>

<li class="">
  <%= link_to show_page_path('terminos') do %>
    <i class="icon-warning-sign"></i>
    <span class="title">Términos y Condiciones</span>
  <% end %>
</li>